.FoldersList {
  width: 15%;

  .create-new-folder,
  .create-new-note {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 0 0 8px 0;
    font-size: 18px;
    border: 1px solid var(--blue-muted);
    border-radius: 8px;
    transition: background-color 0.25s;

    p {
      font-size: 13px;
      margin: -2px 0 0 -1px;
    }

    &:hover {
      background-color: var(--blue-muted-hover);
      cursor: pointer;
    }
  }

  .create-new-note {
    background-color: var(--periwinkle-light);
    color: var(--blue-muted-hover);
  }

  .create-new-folder {
    margin: 0 0 22px 0;
  }

  .folders {
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    text-transform: capitalize;
    cursor: pointer;

    .folder {
      transition: color 0.25s;
      line-height: 2;
      border-bottom: 1px solid transparent;
      transition: border-bottom 0.2s, color 0.2s;

      &:hover {
        color: var(--periwinkle-light);
        border-bottom: 1px solid var(--periwinkle-light);
      }
    }

    .active {
      color: var(--periwinkle-light);
      border-bottom: 1px solid var(--periwinkle-light);
    }
  }
}
