.NotesList {
  width: 20%;
  display: flex;
  flex-direction: column;

  .note {
    padding: 0.7em;
    margin: 4px;
    border-radius: 8px;
    background-color: var(--blue-muted);
    cursor: pointer;
    transition: background-color 0.25s;

    &:hover {
      background-color: var(--periwinkle);
    }
  }
}
